@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title{
  text-align: center;
  color: black;
  font-size: xx-large;
  margin-top: 5%;
}
.link{
  color: black;
  font-size: medium;
}
.link:hover{
  text-decoration: none;
  font-weight: bold;
}
.scve{
    font-size: x-large;
    font-weight: bold;
}
.emailform{
  text-align: center;
  background-color: white;
  border: 3px solid black;
  border-radius: 10px;
  color: black;
  margin-top: 3.5%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  display: inline-table;
}
body{
    background-color: #818281;
    font-family: "Poppins", sans-serif;
}
header a {
    text-decoration: none;
  }
  
  header {
    padding: 0 20px;
    background-color: white;
    height: 100px;
    display: flex;
    justify-content: space-between;
    border: 3px solid black;
  }
  
  #brand {
    font-weight: bold;
    font-size: 50px;
    display: flex;
    align-items: center;
  }
  
  #brand a {
    color: black;
  }
  
  ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  ul a {
    color: black;
    font-size: large;
    border: 2px solid rgb(44, 150, 191);
    border-radius: 30px;
    padding: 10px;
    background-color: rgb(44, 150, 191);
  }
  
  ul li {
    padding: 5px;
    margin-left: 10px;
  }
  
  ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
  #hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
  }
  
  #hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
  
  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
    margin-top: 60px;
  }
  
  .mobile-menu li {
    margin-bottom: 20px;
  }
  
  @media only screen and (max-width: 700px) {
    header nav {
      display: none;
    }
  
    #hamburger-icon {
      display: block;
    }
  }
