@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root{
    --primary: #8c38ff;
    --light: #EEEEEE;
    --dark: #212121;

}
body{
  background-color: #dcdcdc;
  font-family: "Poppins", sans-serif;
  position: relative;
  height: 150vh;
  background: url('colorful-scenery.jpg') center no-repeat;
  background-size: cover;
  background-attachment: absolute;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
footer{
  position: absolute;
  width: 100%;
  background-color: var(--dark);
  padding: 12px 24px;
  border-top: 3px solid var(--primary);
  bottom: 0;
}
.footerbrand{
  color: #fff;
  font-size: 16px;
  font-weight: 900;
  text-align: center;
}
.copyright{
  color: #fff;
  font-size: 10px;
  text-align: center;
}
.title{
    text-align: center;
    color: var(--light);
    font-size: xx-large;
    margin-top: 25%;
  }
  .link{
    color: var(--light);
    font-size: medium;
  }
  .link:hover{
    text-decoration: none;
    font-weight: bold;
  }
  .emailform{
    text-align: center;
    background-color: var(--dark);
    border: 3px solid var(--primary);
    border-radius: 10px;
    color: var(--light);
    margin-top: 3.5%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    margin-bottom: 5%;
  }
  .scve{
    font-size: x-large;
    font-weight: bold;
  }
  .statuswip{
    border: 2px solid #02420b;
    border-radius: 30px;
    color: #02420b;
    background-color: rgb(8, 189, 32, 0.6);
    font-size: x-small;
    float: left;
    margin-top: 1.5%;
    padding: 0.3%;
    font-weight: bold;
  }
  .statusa{
    border: 2px solid rgb(54, 0, 4);
    border-radius: 30px;
    color: rgb(51, 0, 4);
    background-color: rgb(242, 7, 27, 0.6);
    font-size: x-small;
    float: left;
    margin-top: 1.5%;
    padding: 0.3%;
    font-weight: bold;
  }
  .date{
    float: right;
    font-size: x-small;
    font-weight: bold;
    color: var(--light);
    margin-top: 2%;
    padding: 0.3%;
    text-decoration: underline;
  }
  .maintext{
    margin-top: 10%;
    text-align: center;
  }
.container{
    max-width: 1280px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: rgba(0,0,0,0.0);
    /*background-color: var(--dark);
    border-bottom: 3px solid var(--primary);*/
    padding: 16px 32px;
}

h1{
    color: #fff;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 2px;
    
}
.hamburger{
    display: block;
    position: relative;
    z-index: 1;

    user-select: none;

    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;

}
.hamburger span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background-color: var(--light);
    border-radius: 6px;
    z-index: 1;

    transform-origin: 0 0;

    transition: 0.4s;
}

.hamburger:hover span:nth-child(2) {
    transform: translateX(10px);
    background-color: var(--primary);
}

.hamburger.is-active span:nth-child(1) {
    transform: translate(0px, -2px) rotate(45deg);
}
.hamburger.is-active span:nth-child(2) {
    opacity: 0;
    transform: translateX(15px);
}

.hamburger.is-active span:nth-child(3) {
    transform: translate(-3px, 3px) rotate(-45deg);
    
}
.hamburger.is-active:hover span{
    background-color: var(--primary);
}

.menu{
    display: none;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 -16px;
}
.menu a{
    color: #fff;
    margin: 0 16px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    border-radius: 99px;
}
.menu a.is-active, .menu a:hover{
    background-color: var(--primary);
}
.mobile-nav{
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background: hsl(0 0% 100% / 0.5);
    backdrop-filter: blur(2rem);
    /*background-color: var(--dark);*/
    padding-top: 120px;
    transition: 0.4s;
}
.mobile-nav.is-active{
    left: 0;
}
.mobile-nav a{
  display: block;
  width: 100%;
  max-width: 150px;
  margin: 0 auto 16px;
  text-align: center;
  color: #fff;
  padding: 12px 16px;
  background-color: var(--primary);
  text-decoration: none;
  border-radius: 25px;
}
.mobile-nav a:hover{
    padding: 10px 14px;
    width: 70%;
    max-width: 150px;
    transition: 0.4s;
}
/*Desktop*/
@media (min-width: 768px){
    .hamburger{
        display: none;
    }
    .menu{
        display: flex;
    }
    .title{
      margin-top: 10%;
    }
    .maintext{
      margin-top: 5%;
    }
    .date{
      float: right;
      margin-top: 1.5%
    }
    .emailform{
      padding-top: 2%;
      padding-bottom: 2%;
      padding-left: 2%;
      padding-right: 2%;
      width: 50%;
      margin-left: 25%;
      margin-right: 25%;
    }
    body{
      background-attachment: fixed; 
    }
}